<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
	<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/CSS/baseStyle.css}" rel="stylesheet">
	</head>
  <body>
	<nav class="navbar navbar-expand-lg">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">SMART CONTACT</a>

	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">HOME</a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="#" th:if="${user!=null}" th:text="${user.name}"></a>
	      </li>

		  <li>
		  	<form th:action="@{/logout}" method="post" style="display: inline;">
		  	<button type="submit"
		  	 class="nav-link"> LOGOUT
		  	</button>
		  	</form>
		  	</li>
	    </ul>
	  </div>
	</nav>
	<link rel="stylesheet" th:href="@{/css/deshboard.css}">
	<!-- Menu Button -->
	<i class="fas fa-bars menu-btn" onclick="toggleSidebar()"></i>

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">

	<div class="close-btn" onclick="toggleSidebar()">✖</div>

	<ul>
	<li><a href="/user/dashboardPage"><i class="fa fa-home"></i> Home</a></li>
	<li><a href="/user/show_contact/0"><i class="fa fa-address-book"></i> View Contacts</a></li>
	<li><a href="/user/add_contact"><i class="fa fa-plus"></i> Add Contact</a></li>
	<li><a href="/user/profile"><i class="fa fa-user"></i> Your Profile</a></li>
	<li><a href="/user/setting"><i class="fa fa-cog"></i> Settings</a></li>
	<li>
	<form th:action="@{/logout}" method="post">
	<button class="logout-btn">
	<i class="fa fa-sign-out-alt"></i> Logout
	</button>
	</form>
	</li>
	</ul>

	</div>
	<script th:src="@{/js/dashboard.js}"></script>
	<div th:replace="${content}"></div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
	function confirmDelete(url) {
	    swal({
	        title: "Are you sure?",
	        text: "You will not be able to recover this contact!",
	        icon: "warning",
	        buttons: true,
	        dangerMode: true,
	    }).then((willDelete) => {
	        if (willDelete) {
	            window.location.href = url;
	        }
	    });
	}
	</script>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>