<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
	  th:replace="Dashboard/base :: layout(~{::section})">

<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
         th:href="@{/CSS/dashboard.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>
<section>
    <!-- SIDEBAR 
    <div th:replace="~{fragments :: sidebar}"></div>


    NAVBAR
    <div th:replace="~{fragments :: navbar}"></div>-->


    <!-- YOUR PAGE CONTENT -->

    <main style="margin-left:250px; padding:60px 30px;">

        <div style="
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:15px;">

            <div style="
                background:#e9e8f0;
                padding:40px;
                text-align:center;">

                <i class="fa-regular fa-address-book"
                   style="font-size:35px;"></i>

                <h1>1001 Contacts</h1>

                <p>
                    You have these contacts stored in your account
                </p>

            </div>


            <div style="
                background:#e9e8f0;
                padding:40px;
                text-align:center;">

                <i class="fa-solid fa-star"
                   style="font-size:35px;"></i>

                <h1>30 Favorites</h1>

                <p>
                    These contacts are your favorites contacts.
                </p>

            </div>

        </div>

    </main>
	</section>
</body>
</html>