<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="base :: layout(~{::section})">

<section>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">

    <div class="col-md-4">

        <div class="card shadow-lg p-4">

            <div class="card-body">

                <h3 class="text-center mb-4">Login</h3>

                <!-- Error Message -->
                <div th:if="${param.error}" 
                     class="alert alert-danger text-center">
                    Invalid Username and Password
                </div>
				<!-- Logout Message -->
				               <div th:if="${param.logout}" 
				                    class="alert alert-success text-center">
				                  Successfully logged out!
				               </div>

                <!-- Form -->
                <form th:action="@{/do_login}" method="post">

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" name="username" 
                               class="form-control" placeholder="Enter email">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" 
                               class="form-control" placeholder="Enter password">
                    </div>

                    <button type="submit" 
                            class="btn btn-primary w-100">
                        Login
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

</section>

</html>
